.wpll-field {

  [type="text"] {
    width: 100%;
  }

  label {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  textarea {
    width: 100%;
  }

  .error {
    color: #d22;
  }
}
