.wpll {
  margin-top: 1em;
  margin-bottom: 1em;
}

.wpll__item {
  margin-bottom: 5px;
}

.wpll--thumbnail .wpll__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.wpll--description {
  margin-bottom: 1.5em;
}

.wpll__description {
  font-size: 0.85em;
  color: #666;
}

.wpll--all .wpll__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1.5em;
}

.wpll__img {
  width: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 1em;
}

.wpll__img img {
  height: auto !important;
}

